/*
 * Global layout stuff
 */

 body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif; /* Apply Source Sans 3 font to the entire body */
  font-weight: normal; /* Specify the font weight if needed */
}

nav span {
  font-family: 'Bungee', sans-serif; /* Apply Bungee font to the Tweeter logo in the nav */
  font-weight: bold; 
  font-size: 1.5em; 
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */
