/* nav.css */

/* Style the Nav */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em; /* 1.5ems of space on the right and left */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; /* Align items to the space between */
  align-items: center; /* Center vertically */
  position: fixed
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 1.5em;
}

.new-tweet-header {
  display: flex;
  align-items: center;
  margin-right: 1.5em; /* Add margin to the right */
}

h2 {
  color: #FFFFFF;
  margin-right: 10px; /* Add margin for separation */
}

i {
  font-size: 1.5em;
  color: #FFFFFF;
  cursor: pointer;
}


